target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class
*.jar
*.war
*.nar
*.ear
*.log
*.sh
.git
.gitignore
.idea
.vscode
*.iml
node_modules/
dist/
smart-inspection-ui/node_modules/
smart-inspection-ui/dist/
